@import "compass/layout/sticky-footer";
@include sticky-footer(40px);

@font-face {
    font-family: 'DroidSansMonoRegular';
    src: url('/assets/font/DroidSansMono-webfont.eot');
    src: url('/assets/font/DroidSansMono-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/font/DroidSansMono-webfont.woff') format('woff'),
         url('/assets/font/DroidSansMono-webfont.ttf') format('truetype'),
         url('/assets/font/DroidSansMono-webfont.svg#DroidSansMonoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#main {
  padding-top: 20px;
}

#gopher {
  font-family: DroidSansMonoRegular, monospace;
	white-space: pre-wrap;
	padding-bottom: 100px;
  line-height: 18px;
}
#gopher .as-html {
	white-space: normal;
}

#gopher i {
  width: 25px; /* padding for icons */
}
#gopher i.icon-search {
  float: left
}

#spinner {
	float: right;
}
#spinner img {
	position: fixed;
	right: 25px;
	display: none;
}

#footer {
  background: #000000;
  color: #fff;
  margin-top: 30px;
  p {
    margin-top: 9px;
    margin-bottom: 0px;
    font-size: 80%;
    line-height: 1.6;
  }
}

html.oldschool {
 background: #000;
}

html.oldschool body {
 background: #000;
  color: #0f0;
  #breadcrumb {
    font-family: Courier;
    border: 1px dashed #0f0;
    height: 45px;
    margin-bottom: 20px;
    ul {
      background: #000;
      border: none;

      li {
        a {
          color: #0f0;
        }
        a:hover {
          color: #f00;
        }
      }
    }
  }

  #gopher, #intro {
    font-family: Courier;
     h1, h2, h3 {
       font-family: Courier;
       color: #0f0;
       font-size: 120%;
     }

    a, label {
      color: #0f0;
    }
    a:hover {
      color: #f00;
    }
  }

}
