<?php

// lifetime of requests in the cache
define('CACHE_LIFETIME', 3600);
define('CACHE_PATH', "/tmp");

// default request to serve up on the index page
//define('START_REQUEST', 'gopherpedia.com/');
//define('START_INPUT', '');

// maximum filesize allowed when browsing/downloading files, etc
define('MAX_FILESIZE', 10000000);

// should we log stats to the db?
define('LOG_STATS', true);

// if LOG_STATS is true, this specifies the connection to the database
DB::$user = '';
DB::$password = '';
DB::$dbName = 'gopher';

?>