services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - external_network
      - internal_network
        #    env_file: .env
    environment:
      docker: "true"
      production: "false"
      ALLOW_ALL_PORTS: 'false'
      GOPHER_TITLE: "Gophper"
      GOPHER_SUBTITLE: "a Gopher Proxy Tool"
    volumes:
      - .:/var/www/html #:cached
      - ./logs:/var/www/logs:cached
    ports:
      - "8080:80"
networks:
  external_network:
  internal_network:
    internal: true
volumes:
  mysql:
