@font-face {
  font-family: 'DroidSansMonoRegular';
  src: url('/font/DroidSansMono-webfont.eot');
  src: url('/font/DroidSansMono-webfont.eot?#iefix') format('embedded-opentype'),
  url('/font/DroidSansMono-webfont.woff') format('woff'),
  url('/font/DroidSansMono-webfont.ttf') format('truetype'),
  url('/font/DroidSansMono-webfont.svg#DroidSansMonoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 16px;
  margin: 0px;
  font-family: DroidSansMonoRegular, monospace;
}

body > nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
}

body > nav, footer {
  background: black;
  color: white;
}

body main {
  min-height: 100%;
}

footer {
  font-size: 0.8em;
}

.container {
  display: grid;
  grid-template-areas:
    "breadcrumb"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;
  margin-top: 45px;
  min-height: calc(100vh - 45px);
}

@media screen and (max-width: 800px) {
  body {
    font-size: 12px;
  }
  body > nav {
    display: block;
    height: auto;
    position: initial;
  }
  body > nav > form {
    padding-bottom: 20px;
    max-width: initial;
  }

  .container {
    margin-top: 0px;
    height: auto;
  }
}


@media screen and (max-width: 600px) {
  .container {
    font-size: 10px;
  }
}

h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.2em;
}

nav > ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  list-style: none;
}
nav h1 {
  margin: 0px;
  padding: 0px;
}

#breadcrumb, main, footer {
  padding-left: 1em;
  padding-right: 1em;       
}
body > nav {
  padding-left: 0.5em;
}

nav > ul a {
  padding-right: 0.75em;
  text-decoration: none;
  color: white;
  line-height: 40px;
}

footer a {
  color: white;
}

a:hover {
  color: red;
}

.hide {
  display: none;
}

form.gopher-uri, form.form-inline {
  display: flex;
  margin-top: 10px;
  margin-right: 1em;
}

.theme-switcher {
  font-size: 0.8em;
}

a {
  text-decoration: none;
}

#breadcrumb > ul {
  display: flex;
  list-style: none;
  padding: 0px;
  background: #f6f6f6;
  line-height: 40px;
  padding-left: 12px;
  font-size: 0.8em;
  border: 1px solid #dcdcdc;
}


#breadcrumb > ul > li:not(:last-child)::after {
  display: inline-block;
  margin: 0 .25rem;
  content: "→";
}

.divider {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
ul.breadcrumbs li:first-child .divider {
  padding-left: 0;
}
ul.breadcrumbs .divider::after {
  content: "/";
}

form.gopher-uri input, form.form-inline input {
  max-width: 50em;
  flex-grow: 1;
}

nav > form {
  flex-grow: 1;
  margin-bottom: 10px;
  max-width: 20em;
}

svg.icons {
  display: none;
}

#gopher {
	white-space: pre-wrap;
  line-height: 18px;
}
#gopher .as-html {
	white-space: normal;
}

#gopher i {
  width: 25px; /* padding for icons */
}
#gopher i.icon-search {
  float: left
}
#gopher form {
  margin-top: 0px;
}

#intro {
  max-width: 50em;
}

.icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.row.link + .row.text, .row.link + .row.form, .row.form + .row.text  {
  margin-top: 1rem;
} 

.row.form {
  display: flex;
  width: 100%;
}

.row.form form {
  min-width: 20em;
}

input.gopher {
  margin-right: 4px;
}
