<!DOCTYPE html>
<?php
 // class default for gopher intro
if ( ! array_key_exists('class', $this->data) ) {
  $this->data["class"] = "";
} 
if ( ! array_key_exists('result', $this->data) && ! array_key_exists('file', $this->data) ) {
  $this->data["file"] = "intro.html";
}
?>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Gophper, a Gopher Proxy Tool</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
<!---
    <link href="/assets/css/assets.css" rel="stylesheet">
--->
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="/assets/css/colorbox.css" rel="stylesheet">
        <link href="/assets/css/gophper.css" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <?php include_once("stats.html"); ?>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Gophper</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="https://github.com/muffinista/gophper-proxy">Code</a></li>
            </ul>
          </div><!--/.nav-collapse -->
          
	        <form class="gopher-uri form-inline">
	          <input type="text" name="uri" class="span4" style="margin-top:5px" placeholder="URL" />
	          <button type="submit" class="btn">go</button>
	        </form>
        </div>
      </div>
    </div>

    <div class="container">
	    <div id="spinner">
	      <img src="/assets/img/spinner.gif" />
	    </div>

	    <div class="span2"></div>
	    <div class="span10">
	      <div id="intro" class="<?php echo $this->data["class"] ?>">
          <?php 
            if ( array_key_exists('file', $this->data) ) {
              include_once($this->data["file"]); 
            }
          ?>
        </div>

	      <div id="breadcrumb"></div>
	      <div id="gopher">
          <?php 
            if ( array_key_exists('result', $this->data) ) {
              print $this->data["result"]['data'];
            } 
          ?>
        </div> <!-- /gopher -->
	    </div> <!-- /span8 -->
    </div> <!-- /container -->

    <div class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="navbar-inner">
	      <div class="container">
	        <p class="muted credit">Gophper-PHP &copy; 2013 <a href="http://muffinlabs.com/">Colin
	            Mitchell</a>. Content delivered via Gophper belongs to its
	          original authors. Enjoy!</p>
	      </div>
      </div>
    </div>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/assets/js/jquery.history.js"></script>
    <!--    <script src="/assets/js/compressed.js"></script>-->
    <script src="/assets/js/jquery.colorbox.js"></script>
    <script src="/assets/js/gopher.js"></script>
    <script src="/assets/js/site.js"></script>
  </body>
</html>
