<?php
$title = getenv("GOPHER_TITLE");
$subtitle = getenv("GOPHER_SUBTITLE");
$about_path = getenv("GOPHER_ABOUT_URL");
$description = getenv("GOPHER_DESCRIPTION");

// class default for gopher intro
if ( ! isset($class) ) {
  $class = "";
} 
?>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><?php echo $title ?></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<?php echo $description; ?>">
    <meta name="author" content="">

    <link href="/assets/css/gophper.css" media="screen, projector, print" rel="stylesheet" type="text/css" />
    <link href="/assets/css/glyphs.css" rel="stylesheet">
    <link href="/assets/css/colorbox.css" rel="stylesheet">
    <style>
    </style>
  </head>

  <body>
    <nav class="top-bar">
      <ul>
        <li class="name">
          <h1><a href="/"><?php echo $title; ?></a><?php echo $subtitle; ?></h1>
        </li>
        <li><a href="<?php echo $about_path; ?>">About</a></li>
      </ul>

      <div class="theme-wrapper"><a href="#" class="theme-switcher">Theme: <span>modern</span></a></div>
      <form class="gopher-uri">
	      <input type="text" name="uri" placeholder="URL" />
	      <button type="submit" class="button">go</button>
	    </form>
    </nav>

    <div class="container">
	    <div id="breadcrumb"></div>
      <main>       
	      <div id="intro" class="<?php echo $class ?>">
          <?php
          if ( isset($file) ) {
            include_once($file); 
          }
          ?>
        </div>
        
	      <div id="gopher">
          <?php
          if ( isset($result) ) {
            print $result['data'];
          } 
          ?>
        </div>
      </main>
      
      <footer id="footer">
	      <p>Gophper &copy; <?php echo date("Y"); ?> <a href="http://muffinlabs.com/">Colin
	        Mitchell</a>. Content delivered via Gophper belongs to its
	        original authors. Enjoy!
        </p>
      </footer>
    </div>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/assets/js/jquery.colorbox.js"></script>
    <script src="/assets/js/gopher.js"></script>
    <script src="/assets/js/site.js"></script>
  </body>
</html>
