<!-- intro.html: you can replace me with copy specific to your site if you want -->
<h1>Gophper: A Gopher Proxy for Modern Times</h1>
<p>Hello, welcome to Gophper, a proxy for gopher servers. You can use
  this site to view your favorite gopher content from the past.</p>

<p>You can learn more about Gophper on
  the <a href="/about">About</a> page, or you can just try it out
  below.</p>

<div class="as-html">
  <h2>Let's Do This!</h2>
  <p>If you know where you would like to go, enter the URL
    below, or you can always enter a URL into the box at the top
    of the page.</p>

  <!--- forms with the class gopher-uri will be handled by gophper -->
  <form class="well gopher-uri">
    <fieldset>
      <label>Gopher URI to visit:</label>
      <input type="text" name="uri" class="span3" placeholder="URL" />
    </fieldset>
    <button type="submit" class="btn">go!</button>
  </form>

  <h2>Or, you can try one of these popular Gopher servers</h2>
  <ul>
    <li><a href="/gopher.meulie.net">gopher.meulie.net</a></li>
    <li><a href="/sdf.org">sdf.org</a></li>
    <li><a href="/moo.ca">moo.ca</a></li>
    <li><a href="/gopher.floodgap.com">gopher.floodgap.com</a></li>
    <li><a href="/gopher.std.com">gopher.std.com</a></li>
    <li><a href="/gopher.quux.org">gopher.quux.org</a></li>
    <li><a href="/nemesis.cs.berkeley.edu">nemesis.cs.berkeley.edu</a></li>
    <li><a href="/telefisk.org">telefisk.org</a></li>
    <li><a href="/gopher.viste-family.net">gopher.viste-family.net</a></li>
    <li><a href="/quix.us">quix.us</a></li>
  </ul>
</div> <!-- /as-html -->
